* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-image: linear-gradient(#333,#fff); */
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-image: url("images/table.png");
    background-size: cover;
    color: wheat;
}



.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    gap: 5px 10px;
    grid-template-columns: 1fr 6fr 1fr; 
    align-items: center;
    justify-content: center;
    grid-auto-rows: minmax(35px, auto);
}

.header {
    font-size: 50px;
    font-weight: bold;
    justify-self: center;
    grid-column: 1/4;
    grid-row: 1;
    color: goldenrod;
}

.message-box {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 2;
    font-style: italic;
}

.output-cards {
    align-self: center;
    justify-self: center;
    grid-column: 2/3;
    grid-row: 3;
}

.output-score {
    grid-column: 2/3;
    grid-row: 4;    
}

.player-info{
    grid-column: 1/2;
    grid-row: 1;
}

.settings {
    grid-column: 3/4;
    grid-row: 1;
}

/* #btn-start {
    grid-column: 2/3;
    grid-row: 5;
    justify-self: start;
    margin-block-start: 100px;
}

#btn-newcard {
    grid-column: 2/3;
    grid-row: 5;
    justify-self: end;
    margin-block-end: 100px;
} */

:root{
    --btn_height: 35px;
    --btnBg:goldenrod;
    --btnBgHover:rgb(161, 119, 12);
    --btnTxt:#000;
}

.btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 5;
    gap: 10px;
}

.btn{
    appearance: none;
    outline: 0;
    border: 0;
    height: var(--btn_height);
    min-width: 100px;
    padding: 0 12px;
    color: var(--btnTxt);
    background-color: var(--btnBg);
    border: none;
    border-radius: 5px;
    transition: all 0.2s;


}

.btn:active {
    background-color: var(--btnBgHover);
}