* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-image: linear-gradient(#333,#fff); */
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-image: url("images/table.png");
    background-size: cover;
    color: wheat;
}

button {
    color: #016f32;
    background: goldenrod;
    border: none;
    border-radius: 5px;
    margin: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.container {
    max-width: 960px;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    gap: 5px 10px;
    grid-template-columns: 1fr 6fr 1fr; 
    align-items: center;
    justify-content: center;
    grid-auto-rows: minmax(35px, auto);
}

.header {
    font-size: 50px;
    font-weight: bold;
    justify-self: center;
    grid-column: 1/4;
    grid-row: 1;
    color: goldenrod;
}

.message-box {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 2;
    font-style: italic;
}

.act-buttons {
    display: flex;
    grid-column: 2/4;
    justify-self: center;




}

.output-cards {
    grid-column: 2/4;
    grid-row: 3;
}

.output-score {
    grid-column: 2/3;
    grid-row: 4;    
}

.player-info{
    grid-column: 1/2;
    grid-row: 1;
}

.settings {
    grid-column: 3/4;
    grid-row: 1;
}